[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = {extras = ["toml"],version = "*"}
pytest-cov = "*"
rope = "*"
responses = "*"
pytest = "*"
black = "*"
flake8-bugbear = "*"
mypy = "*"
pytest-mock = "*"

[packages]
flask = "~=1.1"
python-dotenv = "~=0.12"
gunicorn = "~=20.0"
mysql-connector-python = "~=8.0"
requests = "~=2.23"
colorlog = "*"
slackclient = "*"
apscheduler = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
