[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
rope = "*"

[packages]
flask = "*"
pytest = "*"
python-dotenv = "*"
gunicorn = "*"
black = "*"
mysql-connector-python = "*"
requests = "*"
responses = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
