[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = {extras = ["toml"],version = "*"}
pytest-cov = "*"
pytest = "*"
black = "*"
flake8-bugbear = "*"
mypy = "*"
pytest-mock = "*"

[packages]
flask = "~=1.1"
gunicorn = "~=20.1"
colorlog = "~=4.1"
slackclient = "~=2.6"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
black = 'black'
mypy = 'mypy'
flake8 = 'flake8'
test = 'python -m pytest -vx'
